/*-----------------------------------*\
  1 - MAIN
  2 - TABLE
  3 - FORMS + BUTTONS
  4 - MEDIA QUERIES
  5 - KEYFRAMES
\*-----------------------------------*/

/*-----------------------------------*\
	1 - MAIN
\*-----------------------------------*/
.no-questions {
    text-align: center
}


/*-----------------------------------*\
	1 - TABLE
\*-----------------------------------*/
#questions-table {
    word-wrap: break-word;
}

#questions-table td {
    max-width: 300px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ececec;
}



/*-----------------------------------*\
	1 - FORMS + BUTTONS
\*-----------------------------------*/

#delete_button,
#edit_button {
    font-size: 20px;
    font-family: FontAwesome;
}

/*-----------------------------------*\
	1 - MEDIA QUERIES
\*-----------------------------------*/



/*-----------------------------------*\
	1 - KEYFRAMES
\*-----------------------------------*/


