/*-----------------------------------*\
  1 - MAIN
  2 - TABLE
  3 - FORMS + BUTTONS
  4 - MEDIA QUERIES
  5 - KEYFRAMES
\*-----------------------------------*/

/*-----------------------------------*\
	1 - MAIN
\*-----------------------------------*/


body {
  /* BG pattern*/
  background-color: #d84047;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%234a9fc5' fill-opacity='1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
  /* BG pattern*/
}

body {
    font-family: 'Open Sans', sans-serif;
}

img.logo {
    max-width: 100px;
    height: auto;
    display: block;
    position: absolute;
}
.askmate {
  color: #000;
  font-size: 75px;
  font-weight: 400;
  font-style: normal;
  font-family: 'VT323', monospace;
  text-transform: uppercase;
  text-align: center;
  cursor: default;
  margin: 0;
  letter-spacing: 3px;
  text-align: center;
}

.title-text-question {
    font-family: 'VT323', monospace;
    font-size: 50px !important;
    letter-spacing: 3px !important;
}

.askmate-desc {
    text-align: center;
    font-style: italic;
    color: #000;
}

#create-question {
    text-align: center;
}

.no-questions {
    text-align: center
}

.open-question {
    text-decoration:none;
    color: #000;

}
.open-question:hover {
    text-decoration:none;
    color: #000;

}
/*-----------------------------------*\
	1 - TABLE
\*-----------------------------------*/
.table-form {
    width: 100%;
    box-shadow: 3px 3px 3px;
}
.table-form td {
    padding: 20px 15px;
}
table.table-form a {
    float: right;
}
span.glyphicon.glyphicon-pencil {
    padding-left: 25px;
}
table {
    background: #fff;
}

#questions-table tr:hover {
    background-color: lightcoral;
    transparent: 0.7;
}

#questions-table tr:hover td {
    background-color: transparent; /* or #000 */
}

#questions-table {
    border: 3px solid brown;
    margin-top: 10px;
}
#questions-table {
    word-wrap: break-word;
}

#questions-table td {
    max-width: 300px;
}

.table-striped > tbody > tr:nth-of-type(odd) {
    background-color: #ececec;
}
td {
    vertical-align: middle
}
thead th {
    background: firebrick;
    color: white;
}

/*-----------------------------------*\
	1 - FORMS + BUTTONS
\*-----------------------------------*/

#delete_button,
#edit_button {
    font-size: 20px;
    font-family: FontAwesome;
}
.glyphicon {
    color: firebrick;
}

.glyphicon:hover {
    color: red
}

.btn:hover,
.glyphicon:hover {
  -webkit-animation: swing 1s ease;
  animation: swing 1s ease;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
/*-----------------------------------*\
	1 - MEDIA QUERIES
\*-----------------------------------*/



/*-----------------------------------*\
	4 - Keyframes
\*-----------------------------------*/

/*Keyframe for SWING effect*/
@-webkit-keyframes swing{
    15%    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%    {
        -webkit-transform: translateX(-5px);
       transform: translateX(-5px);
    } 
    50%    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes swing{
    15%    {
        -webkit-transform: translateX(5px);
        transform: translateX(5px);
    }
    30%    {
        -webkit-transform: translateX(-5px);
        transform: translateX(-5px);
    }
    50%    {
        -webkit-transform: translateX(3px);
        transform: translateX(3px);
    }
    65%    {
        -webkit-transform: translateX(-3px);
        transform: translateX(-3px);
    }
    80%    {
        -webkit-transform: translateX(2px);
        transform: translateX(2px);
    }
    100%    {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
