<!DOCTYPE html>
<html lang="en">

<head>
    {%- block head %}
    <meta charset="utf-8" />
    <title>Askmate{% block title %}{% endblock %}</title>
    <meta name="author" content="tapeta" />
    <meta name="description" content="Askmate" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="120x120" href="../static/images/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../static/images/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/fav/favicon-16x16.png">
    <link rel="manifest" href="../static/images/fav/manifest.json">
    <link rel="mask-icon" href="../static/images/fav/safari-pinned-tab.svg" color="#ff0000">
    <meta name="apple-mobile-web-app-title" content="Super Sprinter 3000">
    <meta name="application-name" content="Super Sprinter 3000">
    <meta name="theme-color" content="#ffffff">


    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=VT323&amp;subset=latin-ext" rel="stylesheet">
    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet"> {%- endblock head %}
</head>

<body>
    <img src="/static/images/logo.svg" alt="logo" class="logo">
    <div id="content">
        {%- block content %}{%- endblock %}
    </div>
</body>

</html>