<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>AskMate - Form</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body id="body_form">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% if theme == "new-answer" %}
                <h1>Create an answer</h1>
                <form action="/new-answer" method="POST" enctype="multipart/form-data">
                    <div class="md-form">
                        <label for="answer-title" class="">Title:</label></br>
                        <input type="text" id="answer-title" name="answer-title" class="form-control">
                    </div>
                    <div class="md-form">
                        <label for="answer-message">Message:</label></br>
                        <textarea type="text" id="answer-message" name="answer-message" class="form-control"></textarea>
                    </div>
                    <div class="md-form file-field">
                        <label for="file-upload">Upload Image - jpg, jpeg, png, gif, svg</label>
                        <input name="file-upload" multiple type="file" class="file file-loading" data-allowed-file-extensions='["jpg", "jpeg", "png", "gif", "svg"]'>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
                {% elif theme == "new-question" %}
                <h1>Create a question</h1>
                <form action="/new-question" method="POST" enctype="multipart/form-data">
                    <div class="md-form">
                        <label for="question-title" class="">Title:</label></br>
                        <input type="text" id="question-title" name="question-title" class="form-control">
                    </div>
                    <div class="md-form">
                        <label for="question-message">Message:</label></br>
                        <textarea type="text" id="question-message" name="question-message" class="form-control"></textarea>
                    </div>
                    <div class="md-form file-field">
                        <label for="file-upload">Upload Image - jpg, jpeg, png, gif, svg</label>
                        <input name="file-upload" multiple type="file" class="file file-loading" data-allowed-file-extensions='["jpg", "jpeg", "png", "gif", "svg"]'>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit</button>
                </form>
                {% elif theme == "answer" %}
                <h1>Edit an answer</h1>
                <form action="/" method="POST">
                    <div>
                        <textarea type="text">{{ answers[question_id|int][4] }}</textarea>
                    </div>
                    <button>Submit</button>
                </form>
                {% elif theme == "question" %}
                <h1>Edit a question</h1>
                <form action="/" method="POST">
                    <div>
                        <textarea type="text">{{ question[question_id|int][4] }}</textarea>
                    </div>
                    <button>Submit</button>
                </form>
                {% endif %}
                </form>
            </div>
        </div>
    </div>

</body>

</html>