<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>AskMate - Question</title>
    <meta name="author" content="">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="/static/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/bootstrap.css" rel="stylesheet">
    <link href="/static/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
</head>

<body id="body_question">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <a href="question/{{ questions['question'][0][0] }}/new-answer" id="create-answer-button" class="btn btn-success">Reply with an FANSzőr!</a>
                <h1>{{ questions["question"][0][4] }}</h1>
                <p>{{ questions["question"][0][5]|replace("<br />", "\n") }}</p>
                <img src='/static/{{ questions["question"][0][6] }}' alt="Uploaded Image">
                <a href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                <a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a><br \> {% for key, value
                in questions.items()%} {% if key == "answers" %}{% for item in value %}
                <h1>Answer # {{item[0]}}</h1>
                <p>{{ item[3]|replace("<br />", "\n") }}</p>
                <img src='/static/{{ item[4] }}' alt="Uploaded Image">
                <a href="#"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
                <a href="#"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a> {% endfor %}{%endif%}
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>